<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>com.sdzee.gs.servlets.LoginServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>SuprimerEtudiant</servlet-name>
<servlet-class>com.sdzee.gs.servlets.SuprimerEtudiant</servlet-class>
</servlet>
<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>com.sdzee.gs.servlets.Logout</servlet-class>
</servlet>
<servlet>
<servlet-name>AjouterEtudiant</servlet-name>
<servlet-class>com.sdzee.gs.servlets.AjouterEtudiant</servlet-class>
</servlet>
<servlet>
<servlet-name>ModifierEtudiant</servlet-name>
<servlet-class>com.sdzee.gs.servlets.ModifierEtudiant</servlet-class>
</servlet>
<servlet>
<servlet-name>AjouterEnseignant</servlet-name>
<servlet-class>com.sdzee.gs.servlets.AjouterEnseignant</servlet-class>
</servlet>
<servlet>
<servlet-name>ModifierEnseignant</servlet-name>
<servlet-class>com.sdzee.gs.servlets.ModifierEnseignant</servlet-class>
</servlet>
<servlet>
<servlet-name>SuprimerEnseignant</servlet-name>
<servlet-class>com.sdzee.gs.servlets.SuprimerEnseignant</servlet-class>
</servlet>
<servlet>
<servlet-name>AjouterUser</servlet-name>
<servlet-class>com.sdzee.gs.servlets.AjouterUser</servlet-class>
</servlet>
<servlet>
<servlet-name>ModifierUser</servlet-name>
<servlet-class>com.sdzee.gs.servlets.ModifierUser</servlet-class>
</servlet>
<servlet>
<servlet-name>SuprimerUser</servlet-name>
<servlet-class>com.sdzee.gs.servlets.SuprimerUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AjouterEtudiant</servlet-name>
<url-pattern>/AjouterEtudiant</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SuprimerEtudiant</servlet-name>
<url-pattern>/SuprimerEtudiant</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ModifierEtudiant</servlet-name>
<url-pattern>/ModifierEtudiant</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AjouterEnseignant</servlet-name>
<url-pattern>/AjouterEnseignant</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ModifierEnseignant</servlet-name>
<url-pattern>/ModifierEnseignant</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SuprimerEnseignant</servlet-name>
<url-pattern>/SuprimerEnseignant</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AjouterUser</servlet-name>
<url-pattern>/AjouterUser</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ModifierUser</servlet-name>
<url-pattern>/ModifierUser</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SuprimerUser</servlet-name>
<url-pattern>/SuprimerUser</url-pattern>
</servlet-mapping>
</web-app>
